# ==========================================================
# ZABBIX PROXY (COM PSK)
# ==========================================================
ZBX_HOSTNAME=NOME_DO_PROXY_NO_SERVER
ZBX_SERVER_HOST=IP_OU_DNS_DO_SERVER
ZBX_PROXYMODE=0

# Usamos o prefixo _PROXY_ para o Agent NÃO tentar usar essa chave
ZBX_PROXY_TLSCONNECT=psk
ZBX_PROXY_TLSACCEPT=psk
ZBX_PROXY_TLSPSKIDENTITY=IDENTIDADE_PSK
ZBX_PROXY_TLSPSKFILE=/var/lib/zabbix/zabbix_proxy.psk

# ==========================================================
# ZABBIX AGENT 2 (SEM PSK)
# ==========================================================
ZBX_HOSTNAME_AGENT=NOME_DA_MAQUINA_NO_SERVER
ZBX_SERVER_HOST_AGENT=127.0.0.1

# PERMISSÃO DE ACESSO: Permite que o Proxy e o Server falem com o Agent
# 127.0.0.1 é essencial porque o Agent está no modo 'host'
ZBX_PASSIVE_ALLOW=127.0.0.1,0.0.0.0/0


