# --- PROXY ---
ZBX_HOSTNAME=NOME_DO_PROXY_NO_SERVER
ZBX_SERVER_HOST=IP_OU_DNS_DO_SERVER
ZBX_PROXYMODE=0
ZBX_TLSCONNECT=psk
ZBX_TLSACCEPT=psk
ZBX_TLSPSKIDENTITY=IDENTIDADE_PSK
ZBX_TLSPSKFILE=/var/lib/zabbix/zabbix_proxy.psk

# --- AGENT ---
ZBX_HOSTNAME_AGENT=NOME_DA_MAQUINA_NO_SERVER
ZBX_SERVER_HOST_AGENT=127.0.0.1

